body {
  background: url( ../images/Snowy.jpg);
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  background-repeat: no-repeat;


}

#header{
  margin-bottom: 5px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
/*   text-shadow: 5px 9px #8A99BF; */
}
#contact{
  margin-top: 15px;
  opacity: .7;
  border-radius: 4px;
  border-color: black;
}
h2{
  font-size: 30px;
  font-weight: bold;
}


#navbar{
  opacity: 0.9;
}


}
#mobile{
  display: inline-block;
  text-align: left;
  margin-left: 5px;
  color: white;
}
#email{
  display: inline-block;
  float: right;
  margin-right: 5px;
  color: white;
}


#github, #portfolio, #linkedin{
  margin-top: 2em;
  margin-left: 4em;
}


.result_hover{
  height: 70px;
  width: 70px;
}










body, html, .container-fluid {
     height: 100%;
}
