body {
  /*background: url( ../images/Snowy.jpg);
  background-size: contain;*/

  font-family: 'Orbitron', sans-serif;
  /*font-family: 'Jura', sans-serif;*/
  background-repeat: no-repeat;

}

.topSection{
  background: url(../images/Snowy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: visible;
  height: 800px;
}


#main{
  margin-top: 20%;
  height: 800px;
}

#header{
  margin-bottom: 5px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  padding-left: 40px;
  color: solid black;
/*   text-shadow: 5px 9px #8A99BF; */
}
#contact{
  margin-top: 15px;
  opacity: .7;
  border-radius: 4px;
  border-color: black;
  font-size: 20px;
  font-weight: bold;
}
h2{
  font-size: 30px;
  font-weight: bold;
}

.navbar-header{
  padding-top: 14px;
}

#author{
  font-size: 22px;
  margin-left: 15px;
}

#navbar{
  opacity: 0.9;
  font-size: 16px;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
#githubPic{
  margin-right: 15px;
}
#linkedinPic{
  margin-right: 15px;
}
#onPageNav{
  padding-top: 14px;
}

.topSection{
  height: 800px;
}

.divider{
  height: 175px;
  background-color: rgb(62, 110, 139);
  position: relative;
}
.profile{
  text-align: center;
  position: absolute;
  /*margin: 10px 10px 10px 10px;*/
  background-color: rgb(62, 110, 139);
  width: 100%;
  height: 82px;
  margin-top: 70px;
  font-size: 35px;
}
.section{
  height: 600px;
  background-color: grey;
}
.sectionMe{
  height: 400px;
  background-color: grey;
}
.pic{
  height: 100%;
  background: url("../images/Website-headshot.jpg");
  background-repeat: no-repeat;
  background-size: 84%;
}
.blurb{
  height: 100%;
  margin-left: 0;
  position: relative;

}
.blurbBox{
  font-size: 22px;
  color: black;
  position: absolute;
  background-color: grey;
  margin-top: 80px;
}
.portfolio{
  text-align: center;
  position: absolute;
  /*margin: 10px 10px 10px 10px;*/
  background-color: rgb(62, 110, 139);
  width: 100%;
  height: 82px;
  margin-top: 70px;
  font-size: 35px;

}
.aboutBlurb{
  height: 100%;
  background-color: purple;
}
#titanic, #care4Kids{
  height: 50%;
  background-color: green;
  margin-top: 10%;

}

#titanic h3, #care4Kids h3 {
  color: black;
  text-align: center;
  margin-top: 30%;
}

#wifi{
  margin-top: 4%;
  margin-left: 42.5%;
  opacity: .2;
}

#brand{
  height: 50%;
  background-color: rgb(62, 110, 139);

}

#brandStatement{
  margin: 3% 10% 8% 10%;
  /*background-color: rgb(27,130,242);*/
  height: 50%;
  color: white;
  font-size: 20px;
  font-family: 'Jura', sans-serif;
  text-align: center;
  background-color: rgb(62, 110, 139);

}

.aboutBlurb{
  width: 100%;

}
#qualities{
  background: url(../images/Website-headshot.jpg);
  background-size: 30%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: rgb(62, 110, 139);
}
.contactMe{
  height: 100px;
  background-color: rgb(62, 110, 139);
}
.contactInfo p{
  font-weight: 600;
  font-size: 20px;
}
.phone, .email{
  background-color: rgb(62, 110, 139);
  height: 40px;
  width: 25%;
  text-align: center;
  margin-top: 40px;
}
h4{
  font-size: 24px;
}

#care4Kids{
  background-color: rgba(80,0,0,.6);
  border-radius: 12px;
}
#titanic{
  background-color: rgba(0,127,84,.6);
  border-radius: 12px;
  /*position: absolute;*/


body, html, .container-fluid {
     height: 100%;
}
